@model IEnumerable<PizzaDominos.Models.Filling>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>QUẢN LÝ LOẠI NHÂN BÁNH</h2>

<table class="table">
    <tr>
        <th>
            MÃ NHÂN BÁNH
        </th>
        <th>
            TÊN NHÂN BÁNH
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="btn-sm">
            <td>
                @Html.DisplayFor(modelItem => item.FillingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FillingName)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.FillingID }, new { @class = "btn btn-sm btn-success" }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.FillingID }, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
</p>
